<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
<p><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></p>
<% end %>

<ul>
  <li><a href="/shelters/new">New Shelter</a></li>
  <li><a href="/">Home</a></li>
</ul>
